@page "/"

@using System.Threading

@code
{
	private Dictionary<int, bool> ActiveItems = new Dictionary<int, bool>
	{
		{ 0, false },
		{ 1, false },
		{ 2, false },
		{ 3, false },
		{ 4, false },
		{ 5, false },
		{ 6, false },
		{ 7, false }
	};
	private Timer StateTimer;
	private int Count = 0;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		StateTimer = new Timer(VoidToRoot, new AutoResetEvent(false), 500, 500);
	}
	
	private void VoidToRoot(Object state)
	{
		ActiveItems[Count] = true;
		Count++;
		this.StateHasChanged();
		if (Count > 4) StateTimer.Dispose();
	}
}

<div class="tree">
	@if (ActiveItems[0])
	{
		<TreeItem AnimKey="root" Src="resources/ML.png" Alt="Root" DrawWire="false" />
	}
	@if (ActiveItems[4])
	{
		<TreeItem AnimKey="sm" Src="resources/Placeholder.png" Alt="Social Media Thumbnail" Header="Social Medias" DrawWire="true" />
	}
	@if (ActiveItems[3])
	{
		<TreeItem AnimKey="cv" Src="resources/Placeholder.png" Alt="CV Thumbnail" Header="Curriculum Vitae" DrawWire="false" />
	}
	@if (ActiveItems[2])
	{
		<TreeItem AnimKey="app" Src="resources/Placeholder.png" Alt="App Thumbnail" Header="Applications" DrawWire="false" />
	}
	@if (ActiveItems[1])
	{
		<TreeItem AnimKey="td" Src="resources/Placeholder.png" Alt="3D Thumbnail" Header="3D Art" DrawWire="true" />
	}
</div>