@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">
		<div class="top-row">
			<LanguageSelect />
			<a href="https://github.com/MathiasFrost" target="_blank">
				<img src="resources/GitHub.png" alt="GitHub" />
			</a>
			<a href="https://www.linkedin.com/in/mathiasl%C3%B8ken/" target="_blank">
				<img src="resources/LinkedIn.png" alt="LinkedIn" />
			</a>
			<a href="https://twitter.com/MathiasLoeken" target="_blank">
				<img src="resources/Twitter.png" alt="Twitter" />
			</a>
			<a href="https://stackoverflow.com/users/15150395/mathias-l%C3%B8ken" target="_blank">
				<img src="resources/StackOverflow.png" alt="StackOverflow" />
			</a>
			<a href="https://www.codewars.com/users/Mathias%20Frost" target="_blank">
				<img src="resources/CodeWars.png" alt="CodeWars" />
			</a>
			<a href="https://www.artstation.com/mathiasloeken" target="_blank">
				<img src="resources/Artstation.png" alt="Artstation" />
			</a>
			<a href="https://www.youtube.com/channel/UC15sa89mA-MFdKkPgEiq9QA" target="_blank">
				<img src="resources/YouTube.png" alt="YouTube" />
			</a>
		</div>
		<div class="content px-4">
			@Body
		</div>
	</div>
</div>